---

---

<!-- <section class="py-12 md:py-16 lg:py-20">
  <div class="container">
    <div class="mx-auto max-w-4xl rounded-2xl bg-primary p-8 text-center text-white md:p-12 lg:p-16">
      <blockquote class="text-xl font-medium md:text-2xl lg:text-3xl leading-relaxed">
        "SCI specification provided a practical methodology to baseline carbon emissions of the application, including embodied emissions and reducing the same."
      </blockquote>
      <div class="mt-8 flex flex-col items-center justify-center gap-2">
        <cite class="not-italic font-bold text-lg">Navveen Balani</cite>
        <span class="text-white/80">Managing Director, Chief Technologist</span>
        <span class="font-semibold text-accent">Accenture</span>
      </div>
    </div>
  </div>
</section> -->
<section class="py-8 md:py-12 lg:py-16">
  <div class="container">
    <div
      class="relative rounded-4xl border-3 border-accent-lighter px-12 py-12 backdrop-blur-sm md:px-20 md:py-16"
    >
      <div
        class="absolute -top-6 left-1/2 -translate-x-1/2 transform rounded-full bg-accent-lightest-2"
      >
        <img src="/assets/up.svg" class="h-12 w-16 md:h-14 md:w-24" />
      </div>

      <div class="text-center">
        <blockquote
          class="text-lg font-medium text-primary-dark italic md:text-xl"
        >
          "SCI specification provided a practical methodology to baseline carbon
          emissions of the application, including embodied emissions and
          reducing the same."
        </blockquote>
        <div class="mt-8 flex flex-col items-center justify-center gap-2">
          <cite class="not-italic font-bold text-lg">Navveen Balani</cite>
          <span class="text-primary"
            >Managing Director, Chief Technologist</span
          >
          <span class="font-semibold text-accent-dark">Accenture</span>
        </div>
      </div>

      <div
        class="absolute -bottom-6 left-1/2 -translate-x-1/2 transform rounded-full bg-accent-lightest-2"
      >
        <img src="/assets/down.svg" class="h-12 w-16 md:h-14 md:w-24" />
      </div>
    </div>
  </div>
</section>
